
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

.env
.env.local
.env.development
.env.production
.env.test


data/
dump/


logs
*.log

build/
dist/
.vite/
.eslintcache

coverage/

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
.cache/
.temp/
